<footer>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-bottom bg-dark p-0" style="height: 56px;">
        <div class="container-fluid text-white w-100 m-0 p-0 align-items-center">
            <div class="row flex-shrink-0 text-white w-100 m-0 p-0 align-items-center">
                <div class="col-12">
                    <div class="card-container m-0 p-0">
                        <a class="circle-link" title="LinkedIn" href={{linkedInUrl}} target="_blank" rel="noopener">
                            <img src={{linkedInLoc}} height="20px" width="20px" />
                        </a>
                        <a class="circle-link" title="GitHub" href={{githubUrl}} target="_blank" rel="noopener">
                            <img src={{githubLoc}} height="20px" width="20px" />
                        </a>
                        <a class="circle-link" title="Download Resume" href={{resumeUrl}} target="_blank"
                            rel="noopener">
                            <img src={{resumeLoc}} height="20px" width="20px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</footer>